body { 
 background-color: #FFFFFF; 
 font-family:Arial, Calibri, sans-serif; 

} 
 
a{ 
 text-decoration: none; 
 color: white; 
} 
 
h1, h2, h3{ 
 margin: 0px; 
} 
 
#container{ 
 background-color: ; 
 
margin-right :auto;
margin-left:auto; 
width:100%;
} 
 
#header{ 
 background-color: #877654; 
 color: white; 
 text-align: center;
 padding: 10px; 
} 
 
#content{ 
 padding: 10 auto;

} 
 
#nav a	{ 
  display: block;
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
  float:left;
}  
 
#nav a:hover {
	background-color:#5A5A5A;
}
 
#nav li{
	
list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333
}

.active {
  background-color: black;
}
 
#nav .selected{ 
 font-weight: bold; 
} 
 
#main{ 
 width: 97%; 
 float: left; 
 margin:10px;
} 
 
#footer{ 
 clear: both; 
 padding: 10px; 
 background-color: #999999; 
 color: white; 
 text-align: right; 
}